# Visual Studio
*.user
*.suo
*.cache
*.opensdf
*.sdf

# Build
bin/
obj/

# NuGet
packages/

# User-specific
*.userosscache
*.sln.docstates

# Test
TestResults/

# IDE
.idea/
.vs/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# DLL
lib/